<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--todo dodać header do wszystkich stron-->
<div th:fragment="headercss">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="/css/signin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</div>
<div th:fragment="header-fragment">
    <div class="topnav">
        <a href="/games">Gry</a>
        <a href="/logicGames">Zabawy logiczne</a>
        <a href="/languageGames">Kącik językowy</a>
        <a href="/trip">Planer</a>
        <a th:if="${@userContext.isLoggedIn()}" href="/shop">Sklep</a>
        <a th:if="${@userContext.isAdmin()}" href="/users/list">Lista użytkowników</a>
        <a th:if="!${@userContext.isLoggedIn()}" href="/register" style="float: right">Rejestracja</a>
        <a th:if="!${@userContext.isLoggedIn()}" href="/login" style="float: right">Logowanie</a>
        <a th:if="${@userContext.isLoggedIn()}" style="float: right" href="/logout">Wyloguj</a>
        <a th:if="${@userContext.isLoggedIn()}" style="color: white; float: right"
           th:text="${@userContext.provideUsername()}" th:href="${@userContext.provideUsername()}"></a>
        <img th:src="${@userContext.provideAvatar()}" class="rounded-circle">

    </div>
</div>
