<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>

<form style="padding: 20px" action="/coords" method="post">
    <h3>Wprowadź koordynaty:</h3>
    <textarea th:text="${@converter.getOriginalCoordinates()}" rows="4" style="width: 100%; height: 100px" type="text" name="coordinates"></textarea>
    <button>Konwertuj</button>
    <input name="order" type="checkbox" value="change"> zamień kolejność lat/long
</form>
<div>
    <!--    <h4>Pierwotna geometria</h4>-->
    <!--    <p th:text="${@converter.getOriginalCoordinates()}"></p>-->
    <h4>Geometria XML</h4>
    <p th:text="${@converter.getCoreDBCoordinates()}"></p>
    <h4>WGS 84</h4>
    <p th:text="${@converter.getWgsCoordinates()}"></p>
    <h4>WKT </h4>
    <p th:text="${@converter.getWktCoordinates()}"></p>
    <h4>Koordynaty dla Cartopii</h4>
    <div th:each="item : ${@converter.getCartopiaCoordinates()}">
        <p th:text="${item}"></p>
    </div>
</div></body>
</html>
