<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gry</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<br>
<div class="card" style="width: 18rem; float: left; margin: 10px">
    <img src="https://cdn.pixabay.com/photo/2013/07/12/15/56/tic-tac-toe-150614_960_720.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Kółko i Krzyżyk</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="/ticTacToe" class="btn btn-primary">Zagraj w kółko i krzyżyk</a>
    </div>
</div>
<div class="card" style="width: 18rem; float: left; margin: 10px">
    <img src="https://www.panzabawka.pl/19867-large_default/rebel-dobb01pl-gra-karciana-dobble.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Dobble</h5>
        <p class="card-text"> To gra, w której nie liczy się wiedza i umiejętności, ale spostrzegawczość, koncentracja i refleks!</p>
        <a href="/dobble" class="btn btn-primary">Zagraj w Dobble</a>
    </div>
</div>

</body>
</html>