<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>

<form class="form-signin" action="/processLogin" method="post">
    <input class="form-control" type="text" name="loginEmail"><br>
    <input  class="form-control" type="text" name="loginPassword"><br>
    <button class="btn btn-lg btn-primary btn-block">Loguj</button>
</form>
</body>
</html>
