<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<form class="form-signin" method="post" action="/register" th:object="${userDto}"> <!--$ oznacza szukanie w modelu po takim kluczu-->
    Nick: <input class="form-control" type="text" th:field="*{username}" name="Nick">
    <span th:errors="*{username}"></span> <br><!--todo uzupelnic komunikaty bledow-->
    Email: <input class="form-control" type="text" th:field="*{preferEmails}" name="Email"><br>
    Hasło: <input class="form-control" type="password" th:field="*{password}" name="Hasło"><br>
    Avatar link: <input class="form-control" type="password" th:field="*{avatar}" name="Hasło"><br>
    Data Urodzenia: <input class="form-control" type="text" th:field="*{birthDate}" name="Data urodzenia"><br>
    Miasto:<input class="form-control" type="text" th:field="*{city}" name="Miasto"><br>
    Kod pocztowy:<input class="form-control" type="text" th:field="*{zipCode}" name="Kod pocztowy"><br>
    Ulica:<input class="form-control" type="text" th:field="*{street}" name="Ulica"><br>
    Kraj pochodzenia:<select class="form-control" th:field="*{country}" name="Kraj pochodzenia">
        <option value="''" th:text="wybierz"></option>
        <option th:each="country : ${countries}" th:value="${country}"
                th:text="${country}"></option>
    </select><br>
    <button class="btn btn-lg btn-primary btn-block">Wyślij</button>
</form>
</body>
</html>
