<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<form class="form-signin" method="post" action="/register" th:object="${userDto}">
    <!--$ oznacza szukanie w modelu po takim kluczu-->
    Nick: <input class="form-control" type="text" th:field="*{username}">
    <span style="color:red" th:errors="*{username}"></span> <br><!--todo uzupelnic komunikaty bledow-->
    Email: <input class="form-control" type="text" th:field="*{preferEmails}">
    <span style="color:red" th:errors="*{preferEmails}"></span> <br>
    Hasło: <input class="form-control" type="password" th:field="*{password}">
    <span style="color:red" th:errors="*{password}"></span> <br>
    Avatar link: <input class="form-control" type="text" th:field="*{avatar}"><br>
    Data Urodzenia: <input class="form-control" type="text" th:field="*{birthDate}"><br>
    Miasto:<input class="form-control" type="text" th:field="*{city}"><br>
    Kod pocztowy:<input class="form-control" type="text" th:field="*{zipCode}"><br>
    Ulica:<input class="form-control" type="text" th:field="*{street}"><br>
    Kraj pochodzenia:<select class="form-control" th:field="*{country}">
    <option value="''" th:text="wybierz"></option>
    <option th:each="country : ${countries}" th:value="${country}"
            th:text="${country}"></option>
</select><br>
    <button class="btn btn-lg btn-primary btn-block">Wyślij</button>
</form>
</body>
</html>
