<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kółko i krzyżyk</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<br>
<div style="text-align: center; width: 100%"><h2 th:text="${message}"></h2></div>

<div th:if="${message.equals('Zapraszamy do gry')|| message.substring(0,4).equals('Zwyc')}"
     style="text-align: center; width: 100%">
    <form th:action="${'/ticTacToe_Start/'+@userContext.provideUsername()}" method="POST">
        <img style="height: 100px;width: 100px"
             th:src="${avatar != null ? avatar : 'https://www.avatarys.com/downloadfullsize/send/2289'}">
        <br>
        <p style="font-size: 20px" th:text="${'Gospodarzem gry jest ' + @userContext.provideUsername()}"></p>
        Gość:
        <br>
        <input type="text" name="guest" th:value="${guest != null ? guest :''}">
        <br>
        <input type="checkbox" name="first_player" value="owner">
        <span style="color:gray;font-size: 12px">Zaznacz jeśli zaczyna gospodarz </span>
        <br>
        <br>
        <button>
            Rozpocznij nową grę
        </button>
    </form>
</div>

<div id="game" style="text-align: center; width: 100%; float: right" th:if="${message.substring(0,4).equals('Ruch')}">
    <form th:action="${'/ticTacToe/'+player}" method="POST">
        <div style="width: 150px">
            <div th:each="item,iterStat : ${gameBoard}" style="float: left; width: 50px; height: 50px">
                <button name="board"
                        th:value="${iterStat.index}"
                        th:text="${item}"
                        th:disabled="${item != null}"
                        style="height: 50px; width: 50px">
                </button>
            </div>
        </div>
    </form>
</div>

<div th:if="${message.substring(0,4).equals('Remi')}">
    <form action="/ticTacToe" method="GET">
        <button>Nowa Gra</button>
    </form>
</div>
</body>
</html>