<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div th:replace="fragments/header :: headercss"></div>
</head>
<body>
<div th:replace="fragments/header :: header-fragment"></div>
<div id="wrapper">
    <div id="left">
        <p class="p2">Lista użytkowników</p>
        <hr>
        <div>
            <ul>
                <li th:each="item : ${usersList}"><a th:text="${item.id} +' '+${item.username}"
                                                     th:href="${item.username}"></a>
                </li>
            </ul>

        </div>
    </div>
    <div id="right">
        <div th:if="${user != null}">
            <p class="p2" th:text="${user.username}"></p><br>
            <img th:src="${user.avatar}" height="100px" width="100px"><br>
            <p th:text="${'Data urodzenia: ' + user.birthDate}"></p>
            <p th:text=" ${'E-mail: ' + user.email}"></p>
            <div th:if="${user.userAddress != null}">
            <p th:text=" ${'Adres:  ul.' + user.userAddress.street + ', ' + user.userAddress.zipCode
           + ', '  + user.userAddress.city + ', ' + user.userAddress.country}"></p>
            </div>
        </div>
    </div>
</div>


</body>
</html>
